{% extends 'base.html.twig' %}

{% block title %}Subscribing page{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Subscribing page</h1>
        {% if target is defined %}
            <p class="important-news">Hey <strong>{{ target }}</strong>, notification is on the way</p>
        {% else %}
            <a class="button is-link" href="{{ path('subscribe_anonymous') }}">Subscribe as Anonymous</a>
            <a class="button is-link" href="{{ path('subscribe_user1') }}">Subscribe as User 1</a>
            <a class="button is-link" href="{{ path('subscribe_user2') }}">Subscribe as User 2</a>
            <a class="button is-link" href="{{ path('subscribe_admin1') }}">Subscribe as Admin 1</a>
            <a class="button is-link" href="{{ path('subscribe_admin2') }}">Subscribe as Admin 2</a>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if target is defined %}
        <script>
            const eventSource = new EventSource('http://localhost:3000/.well-known/mercure?topic=http://example.com/notification', {withCredentials: true});
            eventSource.onmessage = event => {
                document.querySelector('.important-news').insertAdjacentHTML('afterend', `<div class="notification is-success">${JSON.parse(event.data)}</div>`);
            }
        </script>
    {% endif %}
{% endblock %}
